/* ----**** Section *****---- */

section.hero {
  background-color: $black;
  height: 100vh;
  color: $white;
  background-image: url(/assets/images/header-bg.png);
  background-repeat: no-repeat;
}

section.header__info-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 90vh;
  font-size: 1rem;
}

section.about-us {
  height: 675px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.team {
  display: flex;
  height: 675px;
  align-items: center;
  background-image: url('/assets/images/background-team.png');
  background-repeat: no-repeat;
}

section.booking {
  height: 675px;
  display: flex;
  align-items: center;
  justify-content: center;
}