/* ----**** Pgraphs *****---- */

p.info-principal__two--pgraph {
  font-size: .6rem;
  letter-spacing: 5px;
}

p.info-principal__one--pgraph {
  margin: 0;
}

p.about-us__container1--pgraph1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}