/* ----**** Title *****---- */
 
h1.info-principal__two--title {
  font-size: 5rem;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
}

h2.about-us__container1--title {
  margin-bottom: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

h2.booking__container1--title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0;
  text-transform: uppercase;
}